<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
</head>
<body>
    <h2>Регистрация</h2>
    <form method="post">
        {% csrf_token %}
        <label>Имя пользователя:</label><br>
        <input type="text" name="username"><br><br>

        <label>Email:</label><br>
        <input type="email" name="email"><br><br>

        <label>Пароль:</label><br>
        <input type="password" name="password"><br><br>

        <label>Повторите пароль:</label><br>
        <input type="password" name="password2"><br><br>

        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>
